APP_NAME=Nexa Accounting API
APP_ENV=production
PORT=8650
INTERNAL_API_KEY=change-this-key
EVENT_STORE_PATH=/data/accounting/app/nexa-accounting/data/events/pos_events.jsonl
NEXAPOS_BASE_URL=https://nexapos.contentfactory.click
PUBLIC_WEB_URL=https://acc.contentfactory.click
